<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <!-- Linked Css -->
    <link rel="stylesheet" href="/css/ashis_prof.css">
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav id="navbar">
            <!-- Creator's Logo -->
            <div id="logo">
                <span id="logo-first" style="color: orangered;">W</span>ebGuyAshis
            </div>
            <!-- Nav Buttons -->
            <ul id="nav-lists-container">
                <li class="nav-list">
                    <a id="home-link" class="nav-links" href="#home">Home</a>
                </li>
                <li class="nav-list">
                    <a id="about-me-link" class="nav-links" href="#about-me">About Me</a>
                </li>
                <li class="nav-list">
                    <a id="education-link" class="nav-links" href="#education">Education</a>
                </li>
                <li class="nav-list">
                    <a id="contact-me-link" class="nav-links" href="#contact-me">Contact Me</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Main -->
    <main>
        <!-- Profile Container -->
        <div id="profile-container">
            <div id="profile-details">
                <div id="profile-pic">
                    <img src="/images/Profile/luffy.jpg" alt="">
                </div>
                <div id="profile-desc">
                    <span>Hi! Iam</span>
                    <br>
                    <span id="profile-name">
                        <!-- Users Name -->
                        <span id="name-first">A</span>shis Kumar Yadav
                    </span>
                    <br>
                    <span id="profile-msg">
                        A Full Stack Web Developer... 😎
                    </span>
                </div>
                <button id="follow-me">Follow Me</button>
            </div>
            <div id="social-connect">
                <a href="" id="facebook" class="social-links">
                    <img src="./images/icons/facebook.png" alt="">
                </a>
                <a href="" id="instagram" class="social-links">
                    <img src="./images/icons/instagram.png" alt="">
                </a>
                <a href="" id="github" class="social-links">
                    <img src="./images/icons/github.png" alt="">
                </a>
                <a href="" id="gmail" class="social-links">
                    <img src="./images/icons/gmail.png" alt="">
                </a>
                <a href="" id="twitter" class="social-links">
                    <img src="./images/icons/twitter.png" alt="">
                </a>
            </div>
        </div>
        <div id="theme">
            <div id="theme-btn">
                <img id="theme-img" src="./images/icons/color-wheel.png" alt="">
            </div>

            <div id="theme-clr">
                <div id="white-orange" class="color-theme">
                </div>
                <div id="white-green" class="color-theme">
                </div>
                <div id="white-pink" class="color-theme">
                </div>
                <div id="grey-black" class="color-theme">  
                </div>
            </div>
        </div>
        <!-- Projects Container -->
        <div id="projects-container">
            <div id="project-heading">
                 <span id="project-first">P</span>rojects
            </div>
            <div id="project-gallery">
                <div class="gallery-img">
                    <img src="/images/screenshot/Alarm 4.png" alt="">
                </div>
                <div class="gallery-img">
                    <img src="./images/screenshot/MusicPlayer.png" alt="">
                </div>
                <div class="gallery-img">
                    <img src="./images/screenshot/Anime.png" alt="">
                </div>
                <div class="gallery-img">
                    <!-- Project-img -->
                </div>
                <div class="gallery-img">
                    <!-- Project-img -->
                </div>
                <div class="gallery-img">
                    <!-- Project-img -->
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        Proudly Developed By Ashis... 😁
    </footer>

    <!-- Linked Js File -->
    <script src="/Js/ashis_prof.js"></script>
</body>

</html>